name: Chef

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  dokken:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: ['centos-6', 'centos-7', 'centos-8', 'debian-8', 'debian-9', 'debian-10', 'ubuntu-1604', 'ubuntu-1804', 'ubuntu-2004']
        suite: ['default', 'sshd-config']
      fail-fast: false
    steps:
    - name: Check out code
      uses: actions/checkout@master
    - name: Install Chef
      uses: actionshub/chef-install@master
    - name: Linting
      run: cookstyle -f simple || (echo "Run 'cookstyle -a' to correct cookstyle errors." && exit 1)
    - name: test-kitchen
      uses: actionshub/test-kitchen@master
      with:
        suite: ${{ matrix.suite }}
        os: ${{ matrix.os }}
      env:
        CHEF_LICENSE: accept-no-persist
        KITCHEN_LOCAL_YAML: .kitchen.dokken.yml
